.gallery {
	display 		: flex;
	flex-wrap 		: wrap;
	margin-bottom 	: 1.5em;
}

.gallery-item {
	@include flexcol( 2, 1, 1.33 );

	@media only screen and (min-width: $bp__menu-button+1) {
		@include flexcol( 3, 1, 1.33 );
	}

	@media only screen and (min-width: $bp__tablet) {
		@for $i from 2 through 9 {
			.gallery-columns-#{$i} & {
				@include flexcol( $i, 1, 1.33 );
			}
		}
	}
}

.gallery-caption {
	display		: block;
	text-align	: center;
	margin		: 0;
}

.gallery-icon {
	a {
		display		: block;
		text-align	: center;
	}

	img {
		height			: auto;
		margin-bottom	: 0;
	}
}

.wpa-ld {

	&.aligncenter {
		img {
			margin: 0 auto;
		}
	}
}