.site-footer {
	background-color: $gray;
	color 			: $light;
	float 			: left;
	width 			: 100%;

	@media only screen and (min-width: $bp__footer) {
		font-size 	: 19px;
	}

	a {
		color 			: $light;
		text-decoration : none;

		&:hover {
			text-decoration: underline;
		}
	}

	.wrap {
		overflow 	: auto;
		padding 	: 1em;

		@media only screen and (max-width: $bp__footer - 1) {
			max-width 	: 75%;
		}
	}
}

.site-info {
	padding 	: 1em;
	text-align 	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__footer) {
		font-size 	: 18px;
	}

	ul {
		list-style 		: none;
		margin-bottom 	: 0;

		li {

			@media only screen and (min-width: $bp__footer) {
				border-right 	: 2px solid $light;
				display 		: inline-block;
				padding 		: 0 1em 0 0.75em;

				&:last-child {
					border-right 	: none;
					padding-right 	: 0;
				}
			}
		}
	}
}

.text-footer {
	@media only screen and (max-width: $bp__footer) {
		text-align: center;
	}
}