.site-footer {
	background-color: $gray;
	color 			: $light;
	float 			: left;
	width 			: 100%;

	@media only screen and (min-width: $bp__footer) {
		font-size 	: 19px;
	}

	a {
		color 			: $light;
		text-decoration : none;

		&:hover {
			text-decoration: underline;
		}
	}

	.wrap {
		max-width 	: 87.5%;
		overflow 	: auto;
		padding 	: 1em 0;
	}
}

.logo-limitless {
	text-align: center;

	.limitless {
		fill 	: $light;
		height 	: 90px;
		width 	: 225px;
	}
}

.site-info {
	padding 	: 1em;
	text-align 	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__footer) {
		font-size 	: 18px;
	}

	ul {
		list-style 		: none;
		margin-bottom 	: 0;

		li {

			@media only screen and (min-width: $bp__footer) {

				&:not(:last-child) {
					border-right 	: 2px solid $light;
					padding 		: 0 1em;
				}

				display 	: inline-block;
				padding 	: 0 0.5em;

			}
		}
	}
}

.text-footer {
	margin 		: 0 auto 1em;
	max-width 	: $size__max-width - 100;
	text-align 	: center;
}

.wrap-partners {
	background-color: $ltgray;
	border-top 		: 5px solid $blue;
	padding 		: 0.5em;

	h3 {
		font-size 		: 22px;
		margin 			: 0;
		text-align 		: center;
		text-transform 	: uppercase;
	}

	ul {
		align-items 	: center;
		display 		: flex;
		flex-wrap 		: wrap;
		justify-content : center;
		list-style 		: none;
		margin 			: 0 auto;
		max-width 		: $size__max-width;
		padding 		: 0;
		text-align 		: center;

		li {
			display 		: inline-block;
			flex-grow 		: 1;
			margin 			: 0 2%;
			width 			: 45%;
			vertical-align 	: top;

			@media only screen and (min-width: $bp__action-calls1) {
				width: 28%;
			}

			@media only screen and (min-width: $bp__multimodal) {
				margin 	: auto;
				width 	: auto;
			}
		}
	}

	a {
		display: block;
	}
}