.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	margin-bottom	: $size__default-bot-marg;
	overflow 		: auto;

	@media only screen and (min-width: $bp__menu-button+1) {
		overflow 	: visible;
	}

	.wrap {
		overflow 	: auto;
		padding 	: 0;
	}
}

.site-branding {
	margin		: 0 auto;
	max-width 	: 425px;
	padding 	: 1em;

	@media only screen and (min-width: $bp__tablet) {
		float: left;
	}
}

.site-title {
	margin 		: 0;
	text-align 	: center;

	a {
		color 			: $color__text-site-title;
		display 		: block;
		text-decoration : none;
	}
}

.site-description {
	text-align: center;
}