.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	width			: 100%;

	ul {
		@extend %listreset;
		background-color: $color__bg-menu;
		display 		: none;
		text-align 		: left;

		@media only screen and (min-width: $bp__menu-button+1) {
			border-bottom 	: 5px solid $blue;
			border-top 		: 1px solid $med;
			display 		: block;
			text-align		: center;
		}

		ul {
			background-color	: $color__bg-menu-item-mobile;
			border 				: none;
			display				: inherit;

			@media only screen and (min-width: $bp__menu-button+1) {
				background-color: $blue;
				box-shadow		: 0 3px 3px rgba(0, 0, 0, 0.2);
				display 		: none;
				left 			: 0;
				position		: absolute;
				opacity 		: 0;
				text-align 		: left;
				transition 		: visibility 0s ease 0.5s,opacity 0.5s ease;
				visibility 		: hidden;
				z-index			: 99999;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						border-left : none;
						padding 	: 0.5em 3em;
					}

					@media only screen and (min-width: $bp__menu-button+1) {
						white-space : nowrap;
					}
				}
			}

			a {
				//border-right: none;

				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__menu-button+1) {
					color 		: $color__text-submenu;
					font-size 	: 20px;
					max-width 	: 265px;
					padding 	: 0 1em;
				}

				&:after {
					content: "";
					display: none;
				}
			}

			li {
				display: block;

				@media only screen and (min-width: $bp__menu-button+1) {
					padding: 0.5em 0;
				}

				&:last-child {

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}
			}

			.current_page_item,
			.current-menu-item,
			.current-menu-parent,
			.current_page_ancestor {

				> a {
					color: $light;
				}
			}

		} // .submenu ul

		li {

			&:last-child {
				a:after {
					content: "";
					display: none;
				}
			}
		}

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__menu-button+1) {
			display 	: inline-block;
			padding 	: 1em 0;
			position 	: relative;

			&:last-child {

				> a {
					border-right: none;
				}
			}
		}

		&:hover,
		&.focus {

			> ul {
				@media only screen and (min-width: $bp__menu-button+1) {
					display 	: block;
					opacity 	: 1;
					visibility 	: visible;
				}
			}

			> a {
				background-color: $color__bg-menu-item-mobile;
				color 			: $color__text-menu-mobile-hover;

				@media only screen and (min-width: $bp__menu-button+1) {
					color: $color__text-menu-hover;
				}
			}

		}


	}

	a {
		color 			: $color__text-menu-mobile;
		display			: block;
		text-decoration	: none;

		@media only screen and (min-width: $bp__menu-button+1) {
			//border-right: 2px solid $med;
			color 		: $color__text-menu;

			&:after {
				color 		: $gray;
				content 	: "|";
				display 	: inline-block;
				font-weight : 400;
				margin 		: 0 0.75em;
			}
		}

		@media only screen and (min-width: $bp__menu-font) {
			font-size: 18px;
		}

		@media only screen and (min-width: $bp__footer) {
			font-size: 20px;
		}

		@media only screen and (min-width: $bp__full-menu) {
			font-size: 24px;
		}

		&:focus {
			outline-color: $color__outline-menu-link;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		@media only screen and (min-width: $bp__menu-button+1) {
			background-color: $color__bg-menu-current;
		}

		> a {
			color 		: $color__text-menu-current-mobile;
			font-weight : 700;

			@media only screen and (min-width: $bp__menu-button+1) {
				color: $color__text-menu-current;
			}
		}

		&:hover,
		&.focus {

			> a {
				color: $color__text-menu-current-hover;

				@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
					color 		: $light;
					font-weight : 700;
				}
			}
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		.menu-main-menu-container {
			@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
				transform: translateX(0);
			}

		}

		.menu-toggle {
			right: $size__menu_width;
		}
	}

	.nav-menu {
		> li {
			> a {
				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 1em;
				}
			}
		}
	}

	.show-hide {
		display: none;
	}

} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;

	/**
	 * Tablet menu - slide in from left - on top or pushing content
	 */
	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		background-color: $darkblue;
		bottom 			: 0;
		height 			: 100%;
		left 			: 0;
		overflow 		: auto;
		position 		: fixed;
		top 			: 0;
		transform 		: translateX( -$size__menu_width);
		transition 		: transform 0.4s ease;
		width 			: $size__menu_width;
		z-index 		: 9999;

		.admin-bar & {
			padding-top: $size__wp-admin-bar-1;

			@media only screen and (min-width: $bp__admin-bar-1) {
				padding-top: $size__wp-admin-bar-2;
			}
		}
	}
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;

	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		background-color: $color__bg-menu-button;
		color 			: $color__text-menu-button;
		position 		: absolute;
		right 			: 0;
		width 			: 200px;
		z-index 		: 99;
	}

	@media only screen and (min-width: $bp__menu-button+1) {
		display 		: none;
	}
}

.children-caret {
	display 	: inline-block;
	height 		: 0.75em;
	margin-left : 0.25em;
	width 		: 0.75em;
}
