.nav-social {

	@media only screen and (min-width: $bp__tablet) {
		float 		: right;
	}

	a {
		display: block;
	}

	.menu-items {
		@extend %listreset;
		padding 	: 0 1em;
		text-align 	: center;

		@media only screen and (min-width: $bp__tablet) {
			border-left 	: 1px solid $med;
			border-right 	: 1px solid $med;
		}
	}

	.menu-item {
		display 	: inline-block;
		padding 	: 1em 0;
		padding-top : 0;
		position 	: relative;
		margin 		: 0 0.25em;
		line-height : 1.5;

		@media only screen and (min-width: $bp__tablet) {
			padding: 2.675em 0;
		}

		svg {
			fill 		: $gray;
			height 		: $font__size-social;
			transition 	: $miptrans;
			width 		: $font__size-social;
		}

		&:hover {

			svg {
				fill: $darkblue;
			}
		}
	}

	.reveal-search {
		@media only screen and (min-width: $bp__tablet) {
			border-right 	: 1px solid $med;
			padding-right 	: 1em;
		}

		a {
			&:after {
				color 			: $gray;
				content 		: "X";
				font-size 		: 36px;
				left 			: -25%;
				opacity 		: 0;
				position 		: absolute;
				text-decoration : none;
				transition 		: $miptrans;
			}
		}

		&.open {

			svg {
				opacity: 0;
			}

			a:after {
				opacity 	: 1;
			}
		}
	}
}