.nav-social {

	@media only screen and (min-width: $bp__tablet) {
		float 		: right;
	}

	.screen-reader-text,
	a {
		@extend %hidetext;
	}

	.menu-items {
		@extend %listreset;
		padding 	: 0 1em;
		text-align 	: center;

		@media only screen and (min-width: $bp__tablet) {
			border-left 	: 1px solid $gray;
			border-right 	: 1px solid $gray;
		}
	}

	.menu-item {
		display 	: inline-block;
		padding 	: 1em 0;
		padding-top : 0;
		position 	: relative;
		margin 		: 0 0.25em;
		line-height : 1.5;

		@media only screen and (min-width: $bp__tablet) {
			padding: 2.675em 0;
		}

		svg {
			fill 	: $gray;
			height 	: $font__size-social;
			width 	: $font__size-social;
		}
	}

	.open-search {
		@media only screen and (min-width: $bp__tablet) {
			border-right 	: 1px solid $gray;
			padding-right 	: 1em;
		}
	}
}