.home {

	.site-main {

		@media only screen and (min-width: $bp__tablet) {
			display: flex;
		}

		section{
			width: 100%;

			@media only screen and (min-width: $bp__tablet) {
				width: 48%;
			}
		}
	}

	.home-testimonials {
		min-height: 450px;

		.cycle-slide {
			left 		: 50% !important;
			text-align 	: center;
			top 		: 50% !important;
			transform 	: translate(-50%, -50%);
			width 		: 85%;

			&:before,
			&:after {
				color 		: $blue;
				font-size 	: 200px;
				position 	: absolute;
				top 		: -45px;
			}

			&:before {
				content : "“";
				left 	: 0;
			}

			&:after {
				content : "”";
				right 	: 0;
			}
		}

		cite {
			display 	: block;
			margin 		: 0 auto;
			width 		: 65%;
		}

	}

	.widget_woothemes_testimonials {
		padding: 1em;

		@media only screen and (min-width: $bp__tablet) {
			margin 	: 2em 0;
			padding : 0;

			.testimonials-list {
				margin 	: 0 auto;
				position: relative;
				width 	: 80%;
			}

			.quote {
				margin 	: 0 auto;
				width 	: 90%;

				&:before,
				&:after {
					color 		: $blue;
					font-size 	: 200px;
					position 	: absolute;
					top 		: -45px;
				}

				&:before {
					content : "“";
					left 	: 0;
				}

				&:after {
					content : "”";
					right 	: 0;
				}
			}
		}
	}

	.testimonials {

		blockquote {
			font-size 	: 32px;
			margin 		: 0;
			text-align 	: center;

			@media only screen and (min-width: $bp__tablet) {
				margin 		: 1em 3em;
			}
		}

		cite {
			display 	: block;
			text-align 	: center;
		}
	}
}

.news {
	background-color: $light;
	margin-bottom 	: $size__default-bot-marg;

	@media only screen and (min-width: $bp__tablet) {
		border 			: 1px solid $gray;
		margin-right	: 4%;
		padding 		: 1em;
	}

	.header-news {
		font-size 		: 28px;
		font-weight 	: 400;
		margin 			: 0;
		text-transform 	: uppercase;
	}

	article {

		@media only screen and (min-width: $bp__tablet) {
			margin: 0;
		}

		.entry-title {
			line-height : 1;
			margin 		: 0;

			a {
				color 			: $blue;
				font-size 		: 20px;
				text-decoration : none;
			}
		}

		.entry-content {
			margin-top: 0;

			p {
				margin: 0;
			}
		}
	}
}

.link-news {
	margin-top: 1em;

	a {
		float 			: right;
		text-decoration : none;
		text-transform 	: uppercase;

		&:hover {
			text-decoration: underline;
		}
	}
}

.video {

	article {
		margin-bottom: 0;
	}

	.page-content {
		margin-top: 0;
	}

	p {
		margin 		: 0;
		text-align 	: center;
	}
}

// Bullets for slider
.tp-bullets.simplebullets.round {

	.bullet {
		background 		: $ltgray;
		border 			: 2px solid $light;
		border-radius 	: 50%;

		&.selected {
			background 		: $green;
		}
	}
}

.soliloquy-container {
	margin-bottom: 0 !important;

	.soliloquy-pager-item a {
		background 		: $ltgray;
		border 			: 2px solid $light;
		border-radius 	: 50%;

		&.active {
			background 		: $green;
		}
	}
}
