.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline {
	display: inline;
}

.comments-link,
.entry-meta {
	margin-right: 1em;
}

.page-content,
.entry-content,
.entry-summary {
	hyphens 	: auto;
	margin 		: 1.5em 0 0;
	word-wrap 	: break-word;

	.resources & {

		h2 {
			margin-top: 0;
		}
	}

	.blog & {
		margin-top: 0;

		p {
			margin-top: 0;
		}
	}
}

.site {
	left 		: 0;
	position 	: relative;
	transition 	: all 0.4s ease;

	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		&.toggled {
			left: $size__menu_width;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	margin 		: 0 auto;
	overflow 	: auto;
	position 	: relative;
	width 		: 100%;

	.wrap {
		max-width 	: 1200px;
		overflow 	: auto;

		.page-template-page_lois &,
		.page-template-page_full-width &,
		.search &,
		.error404 &,
		.single-post & {
			max-width: $size__max-width;
		}
	}

	.home & {
		background-color: $ltgray;
		margin-bottom 	: 0;
	}
}

.content-area {
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;
	width 		: 100%;

	.home & {
		padding: 0;
	}

	.page & {

		.page-title {
			color 		: $darkergreen;
			font-weight : 400;
			margin 		: 0;
		}
	}

	@media only screen and (min-width: $bp__menu-button+1) {
		&.content-sidebar {
			float 	: left;
			margin 	: 0 2% 0 0;
			width 	: $size__content;
		}

		&.sidebar-content {
			float 	: right;
			margin 	: 0 0 0 2%;
			width 	: $size__content;
		}

		.page-template-page_lois &,
		.page-template-page_full-width &,
		.search &,
		.single-post & {
			width: 100%;
		}
	}
}

.entry-title {
	margin-bottom: 0;

	a {
		@include unline( $darkblue );
	}
}

.header-page {
	background-color 	: $blue;
	background-position : center center;
	background-repeat 	: no-repeat;
	background-size 	: cover;
	position 			: relative;

	//@media only screen and (min-width: $bp__headings2) {
	@media only screen and (min-width: $bp__tablet) {
		height: 275px;
	}
}

.page-template-page_lois,
.page-template-page_full-width,
.search,
.single-post {

	//@media only screen and (min-width: $bp__headings2) {
	@media only screen and (min-width: $bp__tablet) {

		.page-title {
			text-align 	: left;
		}
	}
}

.page-template-page_lois {

	.content-mobile {

		@media only screen and (min-width: $bp__laptop) {
			display: none;
		}
	}

	.wrap-lois {
		display: none;

		@media only screen and (min-width: $bp__laptop) {
			display 		: block;
			height 			: 0;
			overflow 		: hidden;
			padding-bottom 	: 1950px;
			position 		: relative;
			text-align 		: center;

			iframe {
				height 		: 100%;
				left 		: 0;
				position 	: absolute;
				top 		: 0;
				width 		: 100%;
			}
		}
	}
}

.action-calls {
	background-color: $blue;
	color 			: $light;
	padding 		: 12px 0;
	text-align 		: center;

	.single-call {
		color 			: $light;
		display 		: block;
		margin 			: 0 auto;
		max-width 		: 275px;
		text-decoration : none;

		@media only screen and (min-width: $bp__action-calls1) {
			display : inline-block;
			width 	: 48%;
		}

		@media only screen and (min-width: $bp__headings2) {
			max-width: none;
		}

		@media only screen and (min-width: $bp__laptop) {
			margin 	: 0 2.5%;
			width 	: 42%;
		}

		div {
			display: inline-block;
		}
	}

	.text-calltoaction {
		font-size 		: 32px;
		font-weight 	: 700;
		text-transform 	: uppercase;
	}

	.icon-calltoaction {
		height 	: 40px;
		position: relative;
		width 	: 38px;

		svg {
			fill 	: $light;
		}
	}

	.button-calltoaction {
		border 			: 1px solid $light;
		padding 		: 2px 16px;
		text-transform 	: uppercase;
		transform 		: translateY(-25%);
		transition 		: $miptrans;

		&:hover {
			background-color: $light;
			color 			: $blue;
		}
	}

	.resources {
		height 	: 28px;
		left 	: 0;
		position: absolute;
		top 	: 15px;
		width 	: 38px;
	}

	.contact {
		height 	: 40px;
		left 	: 0;
		position: absolute;
		top 	: 8px;
		width 	: 48px;
	}

	.contact-now {
		.button-calltoaction {
			margin-left: 8px;
		}
	}
}

.column-group.columns-2 {

	.column {
		@media only screen and (max-width: $bp__headings1) {
			float: none;
			width: 100%;
		}
	}
}

.column-group.columns-4 {

	.column {
		@media only screen and (max-width: $bp__headings1) {
			float: none;
			width: 100%;
		}

		@media only screen and (min-width: $bp__headings1 + 1) and (max-width: $bp__laptop) {
			width: 47.5%;

			&.column-number-2 {
				margin-right: 0;
			}
		}
	}
}
